<section class="container">
    <div class="login-container">
        <div class="circle circle-one"></div>
        <div class="form-container">
            <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png"
                alt="illustration" class="illustration" />
            <h1 class="opacity">LOGIN</h1>
            <form (ngSubmit)="login(emailOrPhone, password)">
                <input type="text" id="emailOrPhone" [(ngModel)]="emailOrPhone" name="emailOrPhone" required placeholder="EMAIL/PHONE">

                <input type="password" id="password" [(ngModel)]="password" name="password" required placeholder="PASSWORD">

                <button type="submit">Login</button>
 
                <div *ngIf="errorMessage" class="error-message" style="color: red;">{{ errorMessage }}</div>
                <div *ngIf="successMessage" class="success-message" style="color: green;">{{ successMessage }}</div>
            </form>
            <div class="register-forget opacity">
                <div class="text-center mt-3">
                    <p style="color: white;">Don't have an account? <a routerLink="/signup">Sign up here</a></p>
                </div>
            </div>
        </div>
        <div class="circle circle-two"></div>
    </div>
    <div class="theme-btn-container"></div>
</section>